    <div id="mainholder" class="clearfix">
        <h1>Affiliations</h1>
        <h2>Regulation and Supervision</h2>
        <p>New Castle County School Employees Federal Credit Union is chartered under federal
            law. Federally chartered credit unions are regulated by the National Credit Union
            Administration (NCUA), an independent agency of the U.S. Government. NCUA's three
            board members are nominated by the President and confirmed by the Senate. NCUA
            administers the federal insurance fund (NCUSIF), which covers all federal credit
            unions. No taxpayer money is used for regulating and overseeing federal credit
            unions, as all activities of NCUA and the NCUSIF are funded by credit unions. 
        </p>
        <p>&nbsp;</p>
    </div>
</div>