    <div id="mainholder" class="clearfix">
        <h1>Community News</h1>
        <%= image_tag "commnews1.jpg", :class=>"fright", :alt=>"" %>
        <h2>Celebrating 57 Years of Service to Members 1953 - 2007!</h2>
        <p class="spaced">New Castle County School
        Employees Federal Credit Union is celebrating over 50 years of service to
        our members. Thank you New Castle County School Employees and family members.
        If you haven't spread the word, refer a new member today and keep the CU
        growing strong for the next 50! Contact the credit union for membership information.</p>
    </div>
</div>