<div id="mainholder" class="clearfix">
        <h1>Credit Union History</h1>
        <p>
            New Castle County School Employees Federal Credit Union is Celebrating over 54
            years of service to CU members. <br />
            <br />
            New Castle County School Employees Federal Credit Union was chartered in Wilmington,
            Delaware on April 22, 1953. The field of membership was limited to those having
            the following common bond of association and occupation: Employees of the public
            schools in New Castle County, Delaware (except employees in the City of Wilmington);
            employees of this credit union; members of their immediate families. <br />
            <br />
            The annual meeting of members was held during January of each year in New Castle
            County, Delaware. NCCSEFCU meetings required a quorum of at least 15 members
            to conduct the business of designating seven members to the board of directors.
            Regular meetings of the board of directors were held during the third week of
            each month. The New Castle County School Employees Federal Credit Union board
            of directors provided the following leadership including but not limited to determining
            the interest rates of loans; authorizing and supervising investments of the credit
            union other than loans to members; authorizing borrowings and discounting operations
            within the limitations prescribed by the Federal Credit Union Act; and supervising
            the collection of loans to members. Officers of the credit union were the president,
            vice president, treasurer and a clerk who were elected by the board of directors.
            The treasurer was the general manager of the credit union under the control and
            direction of the board of directors. Two committees were set up including a Credit
            Committee of five members, Supervisory Committee of three members. Elmer Fennick
            of Bellefonte, Delaware served as the first President. <br />
            <br />
            The NCCSEFCU Charter was amended on March 12, 1984 to expand the field of membership.
            The field of membership was limited to those having the following common bond: <br />
            1. Employees of all public, private, and parochial schools and colleges in New
            Castle County, Delaware, except employees of the public schools in the City of
            Wilmington, Delaware, or other persons eligible for local credit union service
            due to their occupation; <br />
            2. Spouses of persons who died while within the field of membership of this credit
            union; <br />
            3. Employees of this credit union; <br />
            4. Persons retired as pensioners or annuitants from the above employment; and <br />
            5. Members of their immediate families. <br />
            &ldquo;Members of their immediate families&rdquo; was more clearly defined to
            include a person related to the existing member by blood, marriage, adoption
            or guardianship: parent, parent-in-law, child, sister, sister-in-law, brother,
            brother-in-law, grandparent, grandparent-in-law, and/or grandchild of the existing
            member. <br />
            <br />
            New Castle County School Employees Federal Credit Union merged with Wilmington
            Teachers Federal Credit Union on January 1, 1998. <br />
            As a result of the merger, the field of membership of NCCSEFCU was expanded to
            include employees of the City of Wilmington public schools and members of their
            immediate families. <br />
            <br />
            New Castle County School Employees Federal Credit Union operates today with a
            General Manager, dedicated staff, Board of Directors, and several Board committees.
            The management philosophy has not changed over the years. New Castle County School
            Employees Federal Credit Union is a non-profit and member-owned financial institution
            with strategy in place to provide excellent service to satisfy the financial
            needs of its members. <br />
            Membership has grown to over 8447 members and over $33,617,960 in shares. <br />
            <br />
            The Credit Union has a wide variety of services including Share Savings and Share
            Draft Accounts; Visa Credit Card with no annual fee; Star ATM Cards to access
            share savings; Visa Debit Cards to access share draft worldwide; direct deposit
            and payroll deduction; loans such as car, home equity, signature, and student
            loans. NCCSEFCU offers competitive loan rates to our members as well as a quick
            turnaround on the processing of loan applications. <br />
            <br />
            NCCSEFCU is open Monday through Friday 9:00am to 4:30pm and Saturday 9:00 to
            12:00 noon. The Credit Union is closed on Sundays and approved holidays. Summer
            hours are Monday through Friday 8:30am to 4:00pm. Members have 24 hour access
            to member account information online and through the &quot;PAL&quot; phone line.
            The NCCSEFCU website including Home Banking and Bill Payment were developed and
            introduced in 2003. <br />
            <br />
            New Castle County School Employees Federal Credit Union idea is a logical one:
            school employees and their family are able to pool their money and make loans
            to each other. The Credit Union idea evolved from cooperative activities in 19th
            century Europe.
        </p>
        <h2>Board of Directors:</h2>
        <p>
            President: Ray W. Christian <br />
            Ray has been serving as President since 1974. <br />
            <br />
            Vice President: John W. Crowther <br />
            <br />
            Treasurer: Larry R. Gocella <br />
            <br />
            Secretary: Nancy M. Smith <br />
            <br />
            Directors: <br />
            Ann T. Boniface <br />
            Syd Goldberg <br />
        </p>
        <h2>General Manager:</h2>
        President: Terri L. Keene
        <p>&nbsp;</p>
    </div>
</div>