    <div id="mainholder" class="clearfix">
        <h1>Home Banking</h1>
        <%= image_tag "homebanking.gif", :class=>"fright", :alt=>"" %>
        <p>
            New Castle County School Employees Federal Credit Union offers you Home Financial
            Services. PC-based transaction services are safe, free and simple to use. Your
            personal computer serves as your home branch and it's open for business day and
            night seven days a week!<br />
           <br />
            Simply sign into Home Banking using the login fields on the left.<br />
           <br />
            You must enroll in person at our office for the &quot;Bill Pay&quot; system accessed
            through online banking.<br />
           <br />
            Credit Union members are required to log into the online banking application
            by providing an account number and a password for verfication.<br />
           <br />
            The following functions are available:
        </p>
        <ul> 
            <li>Account Balance Inquiry</li>
            <li>Account History</li>
            <li>Tax Information</li>
            <li>Transfer Funds</li>
            <li>Withdraw by Check</li>
            <li>Online Forms</li>
            <li>Change Password</li>
            <li>Options</li>
            <li>Internet Security</li>
            <li>Online Help</li>
            <li>Disclosures</li>
        </ul>
        <p>
        	Hardware Requirements:<br />
            Pentium 2.0 or greater<br />
            Windows 95 Operating System or greater<br />
            16 MB Memory or greater<br />
           <br />
            Software Requirements:<br />
            Internet Explorer version 5.5 or higher<br />
            Netscape Navigator 6.0 or higher<br />
            128-bit encryption browser security*<br />
            cookies must be enabled**<br />
           <br />
            Internet Connection Requirements:<br />
            28.8K Modum or greater<br />
            22.6K actual connection speed or greater<br />
           <br />
            *Browser Security: To determine the level of security on your browser, click
            on the Help Menu from the browser toolbar and select About Internet Explorer.
            The screen that displays will indicate the encryption.<br />
            If it is not 128-bit encryption, proceed to the following download sites and
            follow their download instructions to update your browser to the required security:<br />
           <br />
            <%= link_to "-Internet Explorer upgrade-", "http://www.microsoft.com/windows/internet-explorer/default.aspx", :rel=>"confirm external" %><br />
           <br />
            **cookies: To enable cookies, please follow the path outlined below for your
            browser:<br />
           <br />
            Internet Explorer-Tools/Internet Options /Advanced<br />
            Netscape Navigator 4x - Edit- Preferences- Advanced- cookies- Accept All Cookies
        </p>
	</div>
</div>