<div id="mainholder" class="clearfix">
      <h1>&nbsp;</h1>
      <h1 class="centertext">CAUTION !!!!!!!!!!!!!!!!</h1>
      <p class="centertext">Please be careful when  shopping online&hellip;.!<br />
          READ the fine print to make sure you will NOT be charged for  something else later.</p>
      <p class="centertext"><em><strong>Is the WEBSITE you're shopping  on secure???</strong></em></p>
      <p class="centertext"><strong>DO NOT</strong> use your card in  places where they   may have to walk away with your card to ring up your  purchase&hellip;&hellip;&hellip; This   gives thieves time to write down your card number, Exp date  and 3-digit   security code. Now they have access to shop online with your    information!! </p>
      <p>&nbsp;</p>
      <hr />
      <p><%= link_to image_tag("ID_Theft.jpg", :alt=>""), "http://www.lovemycreditunion.com/", :rel=>"confirm external" %></p>
      <hr />
      <p class="centertext"><%= link_to image_tag("https://secure.mcul.org/files/cucorp/744/image/Love_My_CU_Banners/20081223/InvestInAmerica/invest_america_banner-468x60.gif", :alt=>""), "http://www.lovemycreditunion.com/", :rel=>"confirm external" %></p>
      <p class="centertext">
          <%= link_to image_tag("https://secure.mcul.org/media/sprint-468x60.gif", :alt => ""), "http://www.sprintsave4cu.com/", :rel=>"external" %>
      </p>
      <hr />
      <p>&nbsp;</p>
      <h2 class="centertext">E-Statements now available! <br />
          Log in to Home Banking to sign up for paperless statements and go green!</h2>
      <p class="centertext">&nbsp;</p>
      <hr />
      <p>&nbsp;</p>
      <table class="default">
          <tr>
              <td><%= image_tag "closed.gif", :alt=>"Closed Sign" %></td>
              <td><h2>The Credit Union will be closed on:</h2>
              	  <p>
                    <strong>Monday, September 6th<br />
                    <br />
                    Winter Hours Start:  August 16th<br />
                    Monday &ndash; Friday 9am &ndash; 4:30<br />
                    Saturday and Sunday closed<br />
                    Saturday Hours Start September 11, 2010
                    </strong></p>
              </td>
          </tr>
      </table>
    </div>
</div>