    <div id="mainholder" class="clearfix">
        <h1>Investment Services</h1>
        <%= image_tag "investments1.jpg", :class=>"fright", :alt=>"" %>
        <p>Invest in your future. Whether you're saving for retirement, education expenses,
        a new house or for a secure future, NCCSE Federal Credit Union has investment
        options to meet your needs. Share Certificates provide another opportunity for
        risk-free investing. Individual Retirement Account (IRA) allows for easy savings
        for retirement. Contributions to a Traditional IRA may be tax deductible. The
        Coverdell Education Savings Account although never tax-deductible, allows you
        to make tax-free withdrawls from the account for elementary and secondary school
        costs as well as college. The funds you contribute to a Roth IRA are also not
        tax-deductible. However the money in your Roth IRA , including earnings, can
        be withdrawn tax-free under certain conditions and after five years after the
        first year for which Roth contributions were made. Of course, you must conform
        to the plan provisions to get this tax-free advantage . Contact your tax advisor
        for information on federal, state and local tax laws and on your individual situation.
        For current rates on any of NCCSE Federal Credit Union's investment options,
        stop into our office or call.</p>
        <br />
        <h1>Share Certificates</h1>
        <%= image_tag "investments2.jpg", :class=>"fright", :alt=>"" %>
        Term - 6 months to 60 months <br />
        Rates vary.<br />
        <br />
        Easy to start investing - Invest in a Share Certificate with as little as $500.<br />
        <br />
        A Penalty will be imposed for early withdrawal.<br />
        <br />
        <br />
        <br />
        <h1>IRA Accounts</h1><%= image_tag "investments3.jpg", :class=>"fright", :alt=>"" %>
        Traditional IRA, Coverdell Education &amp; Roth IRA Savings Accounts <br />
        <br />
        Low minimum deposit - Begin investing with as little as $1 <br />
        <br />
        Easy contribution options - Make deposits through payroll deduction, direct deposit,
        through the mail or in person <br />
        <br />
        Fee account - Pay no annual fee or enrollment fees on these accounts.
        <p>&nbsp;</p>
    </div>
</div>