    <div id="mainholder" class="clearfix">
        <h1>Auto Loans</h1>
        <%= image_tag "loans1.jpg", :class=>"fright", :alt=>"" %>
        <p>New Castle County School Employees Federal Credit Union loan chart. For pre-approval
        of a loan, complete a loan application online today from Home Banking, then fax
        a pay stub to the Credit Union at 302-613-5350 or stop by to fill out an application.<br />
        <br />
        *Note: We may report information about your loan and deposit accounts to credit
        bureaus. Late payments, missed payments, or other defaults on your accounts may
        be reflected in your credit report.</p>
        <h2>NEW and USED VEHICLE LOANS</h2>
        <p>NADA Average Retail Value <br />
        If NADA A.R.V. &gt;$11,000 then term varies<br />
        If NADA A.R.V. is &gt;$15,000 then term varies<br />
        Loan term based on age of auto and NADA $ A.R.V of vehicle.<br />
        We can not finance a vehicle older than 10 years.</p>
        <br />
        <h2>Home Equity Loans</h2>
        <p>Stop by to fill out the Home Equity application or call and we can mail it to
        you. This application is not available online.<br />
        <br />
        Borrow up to $75,000.00 with a Fixed Home Equity Loan and pay back over a 5,
        7, or 10 years term.<br />
        <br />
        Reduce your loan rate by having your payments deducted automatically from your
        NCCSEFCU Share Draft Account. Payments may be made bi-weekly, semi-monthly or
        monthly.<br />
        <br />
        If the Share Draft is closed or payment deduction is stopped for any reason,
        the interest rate returns to the regular Fixed Home Equity rate.<br />
        <br />
        Remember, Direct Deposit is an option. Monthly mail-in payments may also be used,
        but it is the member's responsibility to ensure the funds are available for payment
        each month.<br />
        <br />
        If the property is in joint names we'll need information on both owners completed
        on the loan application.<br />
        <br />
        Employment verification form will be forwarded to your employer for completion.<br />
        <br />
        Home Equity Line of Credit is a form of revolving credit in which your home serves
        as collateral. Because the home is likely to be a members largest asset, many
        homeowners use their credit lines only for major items such as education, home
        improvements, or medical bills and not for day-to-day expenses. With a home equity
        line, you may be approved for a specific amount of credit- your credit limit-
        meaning the maximum amount you can borrow at any one time while you have the
        plan. The credit limit will be 100% of the appraised value of the home after
        subtracting the balance owed on the existing mortgage up to $75,000.00. For example:<br />
        <br />
        Appraisal of home $100,000 <br />
        Percentage x 100% <br />
        Percentage of apppraised value $100,000 <br />
        Less mortgage debt -$40,000 <br />
        <br />
        Potential Credit Line $60,000 <br />
        <br />
        In determining your actual credit line, your ability to repay, your income, debts,
        other financial obligations, and credit history will all be taken into consideration.<br />
        <br />
        Appraisal on your home will be completed.<br />
        <br />
        We will need a copy of your house deed.<br />
        <br />
        If the property is in joint names we'll need information on both owners completed
        on the loan application.<br />
        <br />
        Employment verification form will be forwarded to your employer for completion.<br />
        <br />
        Once we've committed to making the loan we'll be asking you to furnish proof
        of Homeowners insurance naming our credit union on the policy as a loss payee.<br />
        <br />
        There are some fees now associated with a home equity loan. Please contact a
        loan officer for the exact amounts. The fees vary by county and state.<br />
        <br />
        The CU makes loans without regard to race, color, religion, national origin,
        sex, handicap, or familial status.</p>
        <br />
        <h2>Other Member Loans Available</h2>
        <p>Other Loans - Direct Deposit or Payroll Deduction makes monthly payments easy.
        Payment booklets also available for monthly payments by mail or in person. Speak
        to one of our loan officers to walk you through the easy loan application process.<br />
        <br />
        Signature Loans<br />
        Student Loans<br />
        Computer Loans<br />
        Holiday Loans<br />
        Summer Vacation Loans<br />
        Back to School Loans<br />
        Overdraft Protection<br />
        Certificate Secured<br />
        Share Secured<br />
        Debt Consolidation<br />
        First Time Borrowers<br />
        Revolving Loans</p>
        <br />
        <h2>VISA with Cash Back Rewards&nbsp; </h2>
        <p>Visa Credit Card Highlights:
        Visa Credit Card Highlights:<br />
        No annual fee<br />
        Low annual percentage rate<br />
        Cash Back Rewards<br />
        No transfer fees<br />
        <br />
        Good News!!! Members with a Credit Union Visa Credit Card Account can now manage
        their account directly online. Pay your Visa Bill and view transactions. Go to
        <%= link_to "www.ezcardinfo.com", "http://www.ezcardinfo.com/" %>. First time users must click on &quot;Enroll for online services&quot;.
        Complete all information about your account to register for username and password.<br />
        <br />
        Our Credit Card is different from everyone else.<br />
        (And that's exactly why you'll like it)<br />
        Low Rates. Low Fees. Worldwide Acceptance.<br />
        <br />
        Annual Percentage Rate (APR) for Purchases: 7.99% - 14.99%<br />
        <br />
        Cash Advance APR:&nbsp; 7.99% - 14.99%<br />
        <br />
        Method of Computing the Balance for Purchases: Average Daily Balance (Including
        new purchases)<br />
        &nbsp;<br />
        Annual Fee: None <br />
        <br />
        Minimum Finance: Charge None<br />
        <br />
        Transaction Fee for Purchases: None<br />
        <br />
        Late Payment Fee: $20.00<br />
        <br />
        Over-the-Limit Fee: $20.00<br />
        <br />
        The information about the costs of the card are accurate as of 06/08. This information
        may have changed after that date. To find out what may have changed, contact
        us.</p>
    </div>
</div>