    <div id="mainholder" class="clearfix">
        <h1>Locations</h1>
    	<form action="http://www.mapquest.com/directions/main.adp" method="get">
        	<fieldset>
                <input name="go" value="1" type="hidden" />
                <input name="2a" value="113 W. 6th " type="hidden" />
                <input name="2c" value="New Castle" type="hidden" />
                <input name="2s" value="DE" type="hidden" />
                <input name="2z" value="19720" type="hidden" />
                <input name="2y" value="US" type="hidden" />
                <br />
                <table>
                        <tr>
                            <td colspan="2"><%= link_to image_tag("http://cdn.mapquest.com/mqstyleguide/ws_wt_sm", :alt => "MapQuest"), "http://www.mapquest.com/", :rel => "external" %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">FROM:</td>
                        </tr>
                        <tr>
                            <td colspan="2">Address or Intersection:</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input name="1a" size="22" maxlength="30" value="" type="text" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">City: </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input name="1c" size="22" maxlength="30" value="" type="text" /></td>
                        </tr>
                        <tr>
                            <td>State:</td>
                            <td>ZIP Code:</td>
                        </tr>
                        <tr>
                            <td><input name="1s" size="4" maxlength="2" value="" type="text" /></td>
                            <td><input name="1z" size="8" maxlength="10" value="" type="text" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">Country:</td>
                        </tr>
                        <tr>
                            <td colspan="2"><select name="1y">
                                <option value="CA">Canada</option>
                                <option value="US" selected="selected">United States</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <input name="dir" value="Get Directions" type="submit" rel="confirm external"/></td>
                        </tr>
                </table>
            </fieldset>
    	</form>
        <strong>Main Office</strong><br />
        113 West 6th Street<br />
        New Castle, DE 19720<br />
        <br />
        (302)613-5330 Main Office<br />
        (302)613-5350 Fax<br />
        (866)999-0579 Toll Free<br />
        P.A.L (Personal Access Line) 302-613-5340<br />
        <br />
        <strong>Winter Office Hours:</strong><span class="red"> Begin August 16, 2009</span><br />
        Monday through Friday 9:00am to 4:30pm<br />
        Saturday 9:00am to 12:00pm<br />
        Closed Sunday<br />
        <br />
        <strong>Summer Hours:</strong><span class="red"> Begin June 14, 2010</span><br />
        Monday through Friday 8:30am to 4:00pm<br />
        Closed Saturday &amp; Sunday<br />
        <br />
        <br />
        <h2>DIRECTIONS:</h2>
        <p>
            <strong>From Newark:</strong><br />
            Take I-95 N. toward Wilmington, take exit 5A - 141 S. toward New Castle OR Take
            Rt. 273 E. toward New Castle, turn right onto 141 S. THEN go to the dead end,
            turn left onto Rt. 9, turn right onto South St., go through stop sign at W. 6th
            St., turn left into our parking lot behind the building.<br />
            <br />
            <strong>From Middletown:</strong><br />
            Take Rt. 13 N. toward New Castle, take exit 1A -141 S. toward New Castle OR Take
            Rt. 13 N. toward New Castle, turn right onto Rt. 273 E. toward New Castle, turn
            right onto 141 S. THEN go to the dead end, turn left onto Rt. 9, turn right onto
            South St., go through stop sign at W. 6th St., turn left into our parking lot
            behind the building.<br />
            <br />
            <strong>From Wilmington:</strong><br />
            Take Rt. 13 S. toward New Castle, take exit 1A -141 S. toward New Castle OR take
            I-95 S. toward Newark, take exit 5A - 141 S. toward New Castle THEN go to the
            dead end, turn left onto Rt. 9, turn right onto South St., go through stop sign
            at W. 6th St., turn left into our parking lot behind the building.
        </p>
    </div>
</div>