    <div id="mainholder" class="clearfix">
        <h1>Membership</h1>
        <h2>Who can join NCCSE Federal Credit Union?</h2>
        <%= image_tag "join.jpg", :class=>"fright", :alt=>"" %>
        <p>
            Our membership base is all school employees in New Castle County. We also extend
            membership to the immediate family of all of our existing members and retirees.
            Family members include parent, parent-in-law, child, sister, sister-in-law, brother,
            brother-in-law, grandparent, grandparent-in-law, and/or grandchild of the existing
            member. New Castle County schools include public schools in Appoquinimink, Brandywine,
            Christina, Colonial, NCC Vo Tech and Red Clay Consolidated School Districts.
            Also included are employees of Private, Catholic, other religious, Charter and
            Independent Schools in New Castle County.<br />
            Membership is easy and forever. Once you join NCCSE Federal Credit Union, you're
            invited to remain a member for life! <br />
            <br />
            It's Simple to join!<br />
            Stop in to complete a Membership Application. Bring your drivers license or other
            government issued ID and your social security card.<br />
            There is a $2.00 non-refundable membership fee. A deposit of $10.00 minimum savings
            balance establishes and maintains membership.<br />
            NCCSE Federal Credit Union will deposit $5.00 to open an account for a newborn
            child under 1 year old or child adopted within the year.<br />
            <br />
            ** Share accounts do not earn dividends until the average daily balance equals
            $50.00 or more.<br />
            <br />
            Become a &quot;valued&quot; member today and enjoy reduced rates on Loans.</p>
        <blockquote>
            <p>
            	Open a Share Draft Account.<br />
                Open a Debit Card Account.<br />
                Open a Visa Credit Card Account.<br />
            </p>
        </blockquote>
        <p>
            Open the above three accounts as primary owner with NCCSE Federal Credit Union
            and receive a 1/2 % reduction from the already competitive member loan rates.
            (Reduction does not apply to Visa Credit Card Loans, Home Equity Line of Credit
            and special loan rate promotions being offered.)
        </p>
    </div>
</div>