    <div id="mainholder" class="clearfix">
        <h1>Member Services</h1>
        <h2>Regal Cinema Tickets</h2>
        <p>The credit union offers discount movie tickets to Regal Cinemas. You can
        purchase an unrestricted ticket that can be used for any movie anytime and
        it doesn't expire! Tickets are available for $8.00 each.</p>
        <br />
        <h2>Notary Available</h2>
        <%= image_tag "memserv.jpg", :class=>"fright", :alt=>"" %>
        <p>The credit union offers a notary public. There is a $1.00 fee for this service.</p>
        <br />
        <h2>Deluxe Check Reordering</h2>
        <p>If you need to order checks for the first time, please contact the CU to review
        check style options and prices. Note that for all check re-orders placed through
        Deluxe, the member must have available funds in the S40 share draft account.
        Funds must remain available to cover the cost of the checks. Check orders take
        approximately 7-10 business days from the time the order was placed. Ask how
        you can save with the credit union specialty checks!</p>
        <p><%= link_to image_tag("deluxe.jpg", :alt=>"") + "<br />Click to Reorder Checks", "http://www.deluxe-check-order.com/ReorderHome.jsp?url=www.nccsefcu.org&amp;urltext=www.nccsefcu.org", :rel=>"confirm external" %></p>
        <p>&nbsp;</p>

<h2>Enterprise Car Sales</h2>
        Shop at Enterprise Car Sales and then finance at the Credit Union.<br />
        155 E. Cleveland Ave <br />
        Newark, DE 19711 <br />
        (302)737-8096 <br />
        <br />
        <%= link_to image_tag("links_enterprise.jpg", :alt=>""), "http://www.enterprisecarsales.com", :rel=>"confirm external" %><br />
        <br />
        <br />
        <br />
        <h2>MVCP Free Consumer Service</h2>
        <p>Get information on a competitive dealer to get the best price for your New or
        Used Car then finance with the Credit Union. Save money, time and effort by having
        pre-negotiated prices for your dream vehicle at your nearest MVCP dealer.</p>
        4 Easy Steps<br />
        <ol>
            <li>Call the credit union to get Pre-Approved for Loan</li>
            <li>Call MVCP 1-800-345-6827 for nearest dealer</li>
            <li>Visit MVCP Dealer to pick out your car</li>
            <li>Call MVCP back</li>
        </ol>
        <br />
        <%= link_to image_tag("links_mvcp.gif", :alt=>""), "http://www.mvcp.com", :rel=>"confirm external" %>
    </div>
</div>