    <div id="mainholder" class="clearfix">
        <h1>Our Mission</h1>
        <%= image_tag "mission.jpg", :alt=>"Smiling Business People", :class=>"fright" %>
            New Castle County School Employees Federal Credit Union's
            mission is to provide and promote to our field of
            membership financial services which may be more competitive
            than those generally available from other sources. 
    </div>
</div>