<div id="mainholder" class="clearfix">
    <h1>Current Rates</h1>
    <a name="share" id="share"></a>
    <h2>Share Rates</h2>
    <table class="rates">
        <tr>
            <th>Share Type</th>
            <th>Dividend Rate</th>
            <th>APY*</th>
        </tr>
        <tr>
            <td>Regular Shares $50 min balance to under $5,000 balance</td>
            <td>0.05%</td>
            <td>0.05%</td>
        </tr>
        <tr>
            <td>Shares over $5,000 balance</td>
            <td>0.35%</td>
            <td>0.35%</td>
        </tr>
        <tr>
            <td>Share Draft Accounts</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>IRA Shares</td>
            <td>0.55%</td>
            <td>0.55%</td>
            </tr>
        <tr>
            <td>Christmas Club</td>
            <td>0.65%</td>
            <td>0.65%</td>
            </tr>
        <tr>
            <td>Vacation Club</td>
            <td>0.65%</td>
            <td>0.65%</td>
            </tr>
        <tr>
            <td>6 Month Share Certificates</td>
            <td>0.50%</td>
            <td>0.50%</td>
            </tr>
        <tr>
            <td>9 Month Share Certificates</td>
            <td>0.65%</td>
            <td>0.65%</td>
            </tr>
        <tr>
            <td>12 Month Share Certificates</td>
            <td>0.90%</td>
            <td>0.90%</td>
            </tr>
        <tr>
            <td>15 Month Share Certificates</td>
            <td>1.15%</td>
            <td>1.15%</td>
            </tr>
        <tr>
            <td>3 Year Share Certificates</td>
            <td>1.50%</td>
            <td>1.50%</td>
            </tr>
        <tr>
            <td>5 Year Share Certificates</td>
            <td>1.75%</td>
            <td>1.75%</td>
            </tr>
        <tr>
            <th colspan="3"><br />
                Minimum opening deposit for Share Certificates is $500.<br />
                <br />
                For term share accounts, there will be penalty imposed for
                early withdrawal. No dividend will be paid for early withdrawal.</th>
        </tr>
    </table>
    <p><br />
    </p>
    <table class="rates">
            <tr>
                <td colspan="2"><p class="centertext"><strong>New Castle County School Employees <br />
                    Federal Credit Union</strong></p>
                    <p class="centertext"><strong>Funds Availability Policy</strong></p></td>
            </tr>
            <tr>
                <th>Description of Deposit</th>
                <th>When Funds Can Be Withdrawn</th>
            </tr>
            <tr>
                <td>1)Cash, Cashier, Certified, Teller, Government or State of Delaware              
                    Checks, Share Drafts on NCCSEFCU</td>
                <td>Same Day</td>
            </tr>
            <tr>
                <td>2)First $100 of a days deposit of all<br />
                    other checks</td>
                <td>First business day after the day of deposit</td>
            </tr>
            <tr>
                <td>3)All other checks</td>
                <td>Second business day after the day of deposit</td>
            </tr>
            <tr>
                <td colspan="2">*New accounts under 30 days old:
                     Add five additional days for check holds.</td>
            </tr>
    </table>
    <br />
    <a name="loan" id="loan"></a><br />
    <br />
    <h2>Loan Rates</h2>
    <table class="rates">
        <tr>
            <th>TERM</th>
            <th>AMOUNT FINANCED</th>
            <th>APR*</th>
        </tr>
        <tr>
            <th colspan="3">New Vehicle</th>
        </tr>
        <tr>
            <td>Varies</td>
            <td>100% Retail Value</td>
            <td>4.25% to 10.00%</td>
        </tr>
        <tr>
            <td>Varies</td>
            <td>80% Retail Value</td>
            <td>4.00% to 9.75%</td>
        </tr>
        <tr>
            <th colspan="3">Used Vehicle</th>
        </tr>
        <tr>
            <td>72 Months</td>
            <td>100% NADA Retail Value</td>
            <td>5.50% to 10.50%</td>
        </tr>
        <tr>
            <td>60 Months</td>
            <td>100% NADA Retail Value</td>
            <td>5.25% to 10.25%</td>
        </tr>
        <tr>
            <td>48 Months</td>
            <td>100% NADA Retail Value</td>
            <td>5.00% to 10.00%</td>
        </tr>
        <tr>
            <td>42 Months</td>
            <td>100% NADA Retail Value</td>
            <td>4.75% to 9.75%</td>
        </tr>
        <tr>
            <td>36 Months</td>
            <td>100% NADA Retail Value</td>
            <td>4.50% to 9.50%</td>
        </tr>
        <tr>
            <td>24 Months</td>
            <td>100% NADA Retail Value</td>
            <td>4.25% to 10.25%</td>
        </tr>
        <tr>
            <td>12 Months</td>
            <td>100% NADA Retail Value</td>
            <td>4.00% to 9.00%</td>
        </tr>
    </table>
    <br />
    <br />
    <a name="fees" id="fees"></a><br />
    <br />
    <h2>Fee Schedule</h2>
        Any Member that has a regular share balance of at least $10.00 is
        eligible to open a share draft with the credit union
        (note: must be adult member over 18 years old or may
        be account owner 18 years or younger with an adult joint
        account owner). A share draft application must be completed
        along with your initial deposit. The deposit must be
        enough to cover the first share draft order. The member
        will be charged the price of draft orders (plus shipping).
        Cost will depend on the share draft style ordered. Once
        your share draft order is processed, you should receive
        your share drafts within 10 to 14 days. Your share draft
        account will earn a dividend on funds from the original
        date of deposit to date of withdrawl. A monthly statement
        will be sent to members with a share draft account.<br />
        <br />
        There is no requirement to maintain a minimum balance in
        share draft account.<br />
        <br />
        The following charges apply to all share draft account holders.
        Fee Schedule Effective March 01, 2008 <br />
        
        <h3>Fee Schedule</h3>
        <table>
            <tr>
                <td>NSF Member Draft&nbsp;</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>NSF ACH/Debit Card Transaction</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>NSF &ndash; Checks Deposited</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td> Replacement Debit/ATM Card&nbsp;</td>
                <td>$20.00</td>
            </tr>
            <tr>
                <td>Stop Payment &ndash; Member Draft</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td>Stop Payment &ndash; Bill Pay&nbsp;</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>Stop Payment &ndash; ACH</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td> Stop Payment &ndash; Credit Union Check</td>
                <td>$20.00</td>
            </tr>
            <tr>
                <td>Member Draft Copy  </td>
                <td>$7.50</td>
            </tr>
            <tr>
                <td>Original Member Drafts<br />
                    (See the Credit Union for details &amp;  restrictions)</td>
                <td>$0.10/draft</td>
            </tr>
            <tr>
                <td>Account Balancing   </td>
                <td>$15.00/hour</td>
            </tr>
            <tr>
                <td>Account Printout</td>
                <td>(First two(2) pages free - $1.00 per page there after<em>)</em></td>
            </tr>
            <tr>
                <td>Statement Copy&nbsp;</td>
                <td>$2.00/page</td>
            </tr>
            <tr>
                <td>Certified Check &nbsp;</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>Money Order&nbsp; </td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>CU drafts from checking</td>
                <td>$1.00/draft</td>
            </tr>
            <tr>
                <td>New Account Fee </td>
                <td>$2.00</td>
            </tr>
            <tr>
                <td colspan="2">Check Orders....<strong>charge determined by style ordered</strong></td>
            </tr>
        </table>                     
        <p>NSF The CU has automatic transfer from the share savings,
            under the same account number to the share
            draft if the funds are available and are
            needed to cover a draft. There is no charge
            for this service. Should funds be unavailable,
            the particular share draft which has caused
            your share draft account to go negative will
            be returned and a fee of $25.00 per draft
            will be charged to your share draft account.<br />
            <br />
            The CU reserves the right to close your share draft account
            if you have 6 overdrafts within a 12 month period and
            /or the credit union feels you are abusing your share
            draft privileges. The member is obligated under these
            circumstances to return all unused drafts to the CU for
            destruction.<br />
            <br />
            The member is expected to exercise extreme care in using
            the share draft program. If drafts are lost or stolen,
            the member should notify the credit union immediately
            and &quot;stop payment&quot; on the missing drafts.<br />
            <br />
            The member is expected to maintain an accurate record
            of his or her transactions and to reconcile his or her
            statements in a timely manner. Any discrepancies must
            be reported to the credit union within 60 days from the
            date the statement was mailed.
        </p>
    </div> 
</div>