    <div id="mainholder" class="clearfix">
        <h1>Upcoming Events</h1>
        <h2><%= image_tag "upcoming.jpg", :class=>"fright", :alt=>"" %></h2>
    		No events scheduled at this time. 
    </div>
</div>